.articles {
  z-index: 66;
  background-color: $veryLightGray;

  &__content {
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    // grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item {
    z-index: 9;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    background-color: $white;
    transition: all 150ms ease-in-out;
    &:hover {
      transform: scale(1.05); //105%
    }
  }

  &__image {
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__text {
    padding: 3rem 3rem 4rem 3rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 3rem 2.5rem;
    }
  }
  &__author {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  &__title {
    font-size: 1.7rem;
    line-height: 1.2;
    color: $darkBlue;
    margin-bottom: 0.5rem;
  }
  &__description {
    font-size: 1.3rem;
  }
}
